button {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  color: #424554;
  padding: 12px 32px;
  border-radius: 8px;
}

button:hover {
  background-color: #f0f1f7;
}

button.primary {
  background-color: #549cf8;
  color: white;
}

button.primary:hover {
  background-color: #80b6fa;
}

button:disabled {
  opacity: 0.5;
}
